@import "tailwindcss";

@font-face {
  font-family: "DotMatrix";
  src:
    url("/public/font/DOTMATRI.TTF") format("truetype"),
    url("/public/font/DOTMBold.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DotMatrixBold";
  src: url("/public/font/DOTMBold.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
